name = "cloudflare"
main = "src/index.js"
compatibility_date = "2024-01-01"

# D1 数据库绑定
[[d1_databases]]
binding = "suyuan"
database_name = "suyuank"
database_id = "85ea2866-719e-4fea-a0a1-50737c931724"

# KV 命名空间绑定
[[kv_namespaces]]
binding = "suyuankv"
id = "e9a8ddb59a4f46088c440e1cc43ad856"

[vars]
ENVIRONMENT = "production"
